.hienthi_khoi li{
  display: inline-block; 
  background: #5955a2;
  height: 40px;
  border-radius: 4px;
}
.hienthi_khoi li a{
  color: white;
  line-height: 40px;
  font-size: 16px;
  padding: 6px;
}
.hienthi_khoi li.active{
  background: #E67D21 !important;
}
.hienthi_khoi li:hover{
  opacity: 0.8;
  cursor: pointer;
}
#ten_coquan{
  border: 1px solid #ccc;
  height: auto;
}
}
.hienthi_khoi li:nth-child(2), .hienthi_khoi li:nth-child(4), .hienthi_khoi li:nth-child(6), .hienthi_khoi li:nth-child(8){
   background: #8d88cb;
}
#ten_coquan li{  
  background: #8d88cb;
 border: 0.3px solid white;
}
#ten_coquan li a{  
  padding-left: 4px;
 height: 30px;
 font-size: 14px;
 line-height: 30px;
 color: white;
}
#ten_coquan li.active{  
   background: #E67D21 !important;
}
#ten_coquan li:hover{
  opacity: 0.8;
  cursor: pointer;
}
#logo .logo{
  float: left;
}
#logo .logo_right{
  float: left;
  margin-left: 10px;
  padding-top: 1rem;
}
#vitri p, #chucnang_nv p{
  margin-bottom: 10px !important;
}
#vitri p::first-letter, #chucnang_nv p::first-letter{ 
   margin-left: 20px;
}
.captrong{
  margin-left: 40px;
  margin-bottom: 6px;
}
.title_coquan{
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}
/*.list_folow li{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

}*/
.list_folow li .fa{
  margin-right: 7px;
}


.box_folow_job {
    height: 215px;
    border-right: 1px solid #ebedf2;
}
.title_box_qh {
    font-weight: 500;
    color: #575962;
    padding: 1rem 2.2rem;
    border-bottom: 1px solid #ddd;
    padding: 16px 10px;
    font-size: 18px;
}
.title_box_qh img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
    margin-top: -6px;
}
.content_folow {
    padding: 15px 25px;
}
.prog_tit {
    display: -webkit-flex;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 300;
    color: #9699a2;
}
.prog_tit b {
    color: #FF6500;
    font-size: 2.5rem;
    font-weight: 600;
}
.des_prog {
    font-size: 1rem;
    color: #9699a2;
}
.list_folow li {
    color: #6f727d;
    font-weight: 400;
    margin-bottom: 20px;
}
.list_folow li i.fa {
    float: left;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: left;
    width: 35px;
    font-size: 2rem;
}
.list_folow li p {
    font-size: 1.3rem;
}
.list_folow li p span {
    float: left;
}
.list_folow li p b {
    float: right;
    font-weight: normal;
    padding: 0px 10px;
    background: #34bfa3;
    color: #fff;
    border-radius: 15px;
}
.list_folow li:nth-child(2) b {
    background: #5867dd;
}
.list_folow li:nth-child(3) b {
    background: #FF6500;
}
#prog1 .progressbar, #prog2 .progressbar{
    margin-bottom: 10px;
}
#prog1 .percentCount, #prog2 .percentCount{
  margin-top: 10px;
}
.title_box_cq{
      text-align: center;
    font-size: 16px;
}

.cap3{
  margin-left: 35px;
}
.img_lienket{
  width: 32%;
  height: 100%;
  float: right;
}